@import url("variables.less");

.header-wrapper {
	width: 100%;
	height: 330px;
}
.header-banner {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	overflow: hidden;
	width: 100%;
	height: 330px;
	position: absolute;
	z-index: -99;
}
.header-content-wrapper {
	padding-top: 60px;
}
.header-img {
	width: 200px;
	height: 200px;
	z-index: 5;
	border-radius: 50%;
	display: inline-block;
	vertical-align: top;
	box-shadow: @drop-1
}
.header-img , .header-content-detail {
	vertical-align: middle
}
.header-content-detail {
	display: inline-block;
	max-width: 750px;
	margin-top: -@space-md;
	color: white;
	font-family: @font-reg;
}

.header-content-detail h1, .header-content-detail h4 {
	text-shadow: @drop-9;
}

.header-content-detail button {
	box-shadow: @drop-9;
}

.header-social-media li {
	display: inline;
	color: white;
	padding-left: @space-sm;
	text-shadow: @drop-9;
}
.red {
	color: #D80325;
}