@import url("variables.less");
/* -- Promo Landing Page -- */

.promo-landing-main-bottom {
	margin: 50px @space-lg 0;
	border-top: 2px solid @grey-4;
}

/* -- HEADER -- */
.promo-landing-header button {
	padding: 5px 35px;
	margin: 9px @space-md;
	font-size: 1.6em;
	font-family: @font-reg;
	border: none;
	box-shadow: @drop-2;
	&:hover {
		background-color: @primary-lt;
	}
}
.promo-landing-header h3 {
	margin: 16px 0;
	color: @grey-2;
}

/* -- TOP SECTION -- */
.promo-background {
	height: 400px !important;
	opacity: 0.2;
}
/* -- Music Player -- */
#waveform {
	width: 95%;
}
.promo-song-info a {
	float: left;
}
.small-font {
	font-size: 10px;
	li {
		margin-right: 10px;
	}
}
.music-player-wrapper {
	opacity: 0;
	width: 0;
	height: 0;
	position: fixed;
  width: 530px;
  border: 2px solid @grey-2;
  padding: 20px;
  border-radius: 15px;
  z-index: 5000;
  bottom: 100px;
	ul li {
		display: inline-block;
	}
}
.music-player-show {
	width: 530px;
}

.cancel-hover:hover {
	cursor: pointer;
}
.music-player-header {
  width: 370px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.promo-song-info .play-pause {
	position: absolute;
	font-size: 14em;
	opacity: 0.6;
	color: white;
	text-align: center;
	z-index: 0;
}
.promo-song-info .icon-pause {
	margin: -30px 0 0 -20px;
	display: none;
}
.promo-song-info .icon-play {
	margin: -33px 0 0 -23px;
}
.promo-song-info {
	height: 400px;
	padding: 95px 0 0 60px;
}
.promo-artist-img {
	position: absolute;
	width: 230px;
	height: 230px;
}
.right-side-content {
	margin-left: 260px
}
.promo-share-this {
	width: 835px;
	margin: @space-lg auto;
	p, .promo-share-link {
		font-family: @font-reg;
		font-size: 1.3em;
	}
}
.promo-share-link {
	width: 560px;
	overflow: hidden;
	vertical-align: middle;
	border: 1px solid @grey-5;
	box-shadow: @drop-7;
}
.promo-share-this li {
	display: inline-block;
	vertical-align: middle;
	margin-left: @space-sm;
}


/* -- LANDING CONTENT -- */
.promo-landing-content {
	text-align: center;
}
.promo-landing-content h2 {
	font-size: 3em;
}
.promo-artist-info {
}
.promo-artist-info img {
	box-shadow: @drop-9
}
.promo-artist-bio {
	font-size: 1.85em;
	font-family: @font-reg;
	padding: 0 @space-md;
}
.follow-artist-with-links {
	margin-bottom: 50px;
}
.follow-this-artist {
	margin-top: 80px;
}
/* -- BECOME A PATRON -- */
.become-a-patron {
	width: 500px;
	text-align: center;
	margin: 10px @space-md @space-md;
}
.become-a-patron p {
	text-align: left;
	font-size: 1.4em;
	font-family: @font-reg;
}
.artist-donation-box {
	background-color: white;
}
.artist-donation-box input{
	width: 100px;
	margin: 0 @space-sm;
	display: inline-block;
	vertical-align: middle;
}
.artist-donation-box span {
	color: #e6461a;
}
.artist-donation-box button {
	width: 100%;
	padding: @space-md 0;
	margin: @space-lg 0 0;
	color: white;
	font-size: 1.75em;
	background-color: #e6461a;
	border: none;
	&:hover {
		background-color: #F45D38;
		box-shadow: @drop-2;
	}
}
.patreon-footer {
	height: 50px;
	width: 100%;
	background-color: #333333;
}
.patreon-footer img {
	height: 100%;
	width: auto;
}

/* -- FOLLOW THIS ARTIST LINKS -- */
.follow-this-artist-links li {
	display: inline-block;
	vertical-align: middle;
	margin-right: @space-lg;
}
.links-color {
	.icon-spotify {
		color: #23CF5F;
	}
	.icon-soundcloud-2 {
		color: #ff7700;
	}
	.icon-youtube-1 {
		color: #bb0000;
	}
	.icon-facebook-4 {
		color: #3b5998;
	}
	.icon-twitter-bird {
		color: #55acee;
	}
	.icon-instagram-3 {
		color: white;
		border-radius: 10px;
		background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf)
	}
	.icon-googleplus-rect-1 {
		color: #dd4b39;
	}
}

/* -- FOOTER -- */
.promo-landing-footer {
	height: 300px;
	text-align: center;
}
.promo-landing-footer button {
	font-size: 1.8em;
	letter-spacing: 1.5px;
	border: none;
}