@import url("variables.less");

.top-album-wrapper {
  position: relative;
  z-index: 3000;
  overflow-x: scroll;
  overflow: hidden;
  height: 100%;
  padding: @space-sm 0;
  margin-left: @space-lg;
}
.top-album-img {
  margin: 15px;
  width: 200px;
  height: 200px;

}

.top-album-list {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  position: relative;
}
  .top-album-list::-webkit-scrollbar { 
    display: none;
  }
  .top-album-list-item-wrapper {
    display: inline-block;
  }  
  .top-album-list-item  {
    display: inline-block;
    -webkit-appearance:none;
    outline: none;

    transition: 50ms ease-in;
  }
    .top-album-list-item:hover {
      transform: scale(1.2);
    }
.slick-prev, .slick-next {
  z-index: 100;
}
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
